alabaster==0.7.16
babel==2.17.0
certifi==2025.4.26
charset-normalizer==3.4.2
contourpy==1.2.1
cycler==0.12.1
deap==1.3.3
docutils==0.17.1
fonttools==4.58.0
idna==3.10
imagesize==1.4.1
Jinja2==3.1.6
joblib==1.5.0
kiwisolver==1.4.7
MarkupSafe==3.0.2
matplotlib==3.6.2
numpy==1.21.5
packaging==25.0
pandas==2.0.3
pillow==11.2.1
psutil==7.0.0
Pygments==2.19.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
qdpy==0.1.2.1
requests==2.32.3
roborobo @ file:///home/emilyraine/additional-for-project/roborobo4
scikit-learn==1.1.3
scipy==1.7.3
seaborn==0.12.2
six==1.17.0
sklearn==0.0.post12
snowballstemmer==3.0.1
Sphinx==4.2.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
threadpoolctl==3.6.0
torch==1.12.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
